{% extends 'ecom2/base.html'%}
{%block content%}

<form method="Post">
    {%csrf_token%}
    <select name="q" id='q'>
        {%for i in cate %}
            <option>{{i.name}}</option>
        {%endfor%}
    </select>
    <button type="submit">submit</button>
</form>

<div class="small-container">
        <div class="row">
            {%for i in catefind %}
            <div class="col-4">
                <a href="{% url 'product_detail' i.id %}"><img src="{{i.photo.url}}"></a>
                <h4>{{i.name}}</h4>
                <div class="rating">
                   {{i.category}}
                </div>
                <p>ksh: {{i.price}}</p>
            </div>
            {%endfor%}
        </div>     
    </div>
{%endblock%}

