{% extends "ecom2/base.html" %}
{% load static %}
{% block content %}
<div class="small-container cart-page">
        <table>
            <tr>
            <th>Image</th>
			<th>Product</th>
			<th>Quantity</th>
			<th>Unit price</th>
			<th>Price</th>
            </tr>
            {% for item in cart %}
			{% with product=item.product %}
            <tr>
                <td>
                    <div class="cart-info">
                        <a href="{{product.get_absolute_url}}">
							<img src="{{ product.photo.url}}">
	                        <div>
	                            <p>{{ product.name }}</p>
	                            <small>${{ item.price }}</small>
	                            
	                            <form action="{% url 'cart_remove' product.id %}" method="post">
									<button  class='buttonremove' type="submit"> remove</button>
									{% csrf_token %}
									</form>
                        	</div>
                    </div>
                </td>
                <td>{{ product.name }}</td>
                <td>
                	<form action="{% url 'cart_add' product.id %}" method="post">
					{{ item.update_quantity_form.quantity }}
					{{ item.update_quantity_form.override }}
					<button  class="buttonupdate" type="submit"> update</button>
					{% csrf_token %}
					</form>
				</td>
				<td>${{ item.price }}</td>
                <td>${{ item.total_price }}</td>
            </tr>
            	{% endwith %}
		{% endfor %}
        </table>
        <div class="total-price">
            <table>
                
                <tr>
                    <td>Total</td>
                    <td>${{ cart.get_total_price }}</td>
                </tr>
            </table>
        </div>
    
    <p class="text-right">
<a href="{% url 'home' %}" class="button
light">Continue shopping</a><br>
<a href="{% url 'order_create' %}" class="button">Checkout</a>
</p>
</div>
{% endblock %}




